.app {
  height: 100vh;
  position: absolute;
  left: 0;
  width: 100%;
  /* overflow: hidden; */
}

.card--container {
  padding: 20px;
  display: flex;
  flex-wrap: nowrap;
  gap: 20px;
  overflow-x: auto;
}